body {
  background-color: black;
}
.jeremy {
  background-color: hsl(246, 80%, 60%);
  height: 70%;
  border-radius: 10px;
}
.photo {
  border-radius: 50px;
  height: 70px;
  margin-left: 35px;
  margin-top: 20px;
}
.report {
  color: aliceblue;
  opacity: 0.7;
  margin-left: 35px;
}
.Robson {
  color: aliceblue;
  font-size: xx-large;
  margin-left: 35px;
  opacity: 0.9;
  width: 50px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 75px;
  row-gap: 100px;
}
.grid-item {
  background-color: yellow;
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* font-size: 30px; */
  height: 200px;
  border-radius: 5px;
  width: 250px;
}
.grid-item-1 {
  height: 119%;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: hsl(235, 46%, 20%);
}
.list {
  color: #aaa;
  list-style: none;
  font-size: x-small;
}
.daily {
  padding-bottom: 20px;
  /* opacity: 0.4; */
}
.week {
  padding-bottom: 20px;
}
.grid-item-2 {
  background-color: hsl(15, 100%, 70%);
  height: 60px;
  border-radius: 10px;
}
.Work {
  background-color: hsl(235, 46%, 20%);
  height: 155px;
  width: 250px;
  border-radius: 10px;
}
h3 {
  color: aliceblue;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 20px;
}
.icon {
  margin-left: 180px;
  height: 45px;
}
.fullstop {
  padding-top: 25px;
  padding-left: 130px;
  height: 5px;
}
.hours {
  color: aliceblue;
  margin-left: 20px;
  font-size: xx-large;
}
.last {
  color: aliceblue;
  width: 300px;
  margin-left: 20px;
}
.workupdate {
  display: flex;
}
.grid-item-3 {
  background-color: hsl(195, 74%, 62%);
  height: 60px;
  border-radius: 10px;
}
.grid-item-4 {
  background-color: hsl(348, 100%, 68%);
  height: 60px;
  border-radius: 10px;
}
.grid-item-5 {
  background-color: hsl(145, 58%, 55%);
  height: 60px;
  border-radius: 10px;
}
.grid-item-6 {
  background-color: hsl(264, 64%, 52%);
  height: 60px;
  border-radius: 10px;
}
.grid-item-7 {
  background-color: hsl(43, 84%, 65%);
  height: 60px;
  border-radius: 10px;
}
.listed {
  cursor: pointer;
}
.active {
  color: #fff;
}
